.Hero{
    position: relative;
}
.banner-img{
    width: 100%;
    mask-image: linear-gradient(to right, transparent, black 75%);
    -weblit-mask-image: linear-gradient(to right, transparent, black 75%);
}
.Hero_caption{
    position: absolute;
    width: 100%;
    padding-left: 6%;
    bottom: 0;
}
.caption_img{
    width: 30%;
}
.Hero_caption p{
    max-width: 650px;
    font-size: 17px;
    margin-bottom: 20px;
}
.Hero_buttons{
    display: flex;
    margin-bottom: 50px;
    gap: 10px;
}

.Hero_buttons .btn img{
    width: 25px;
}

.Hero_buttons .btn{
    border: 0;
    outline: 0;
    padding: 8px 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
    background: white;
    border-radius: 4px;
    cursor: pointer;
}
.Hero_buttons .btn-dark{
    color: #fff;
    background:#6d6d6eb3 ;
}

.Hero_buttons .btn:hover{
    background:#ffffffbf ;
}
.Hero_buttons .btn-dark:hover{
    background: #6d6d6e66;
}
.more-cards{
    padding-left: 6%;
}

@media (max-width:1024px) {
    .Hero .title_cards{
        display: none;
    }
    .Hero_buttons{
        margin-bottom: 30px;
    }
}

@media (max-width:800px){
    .Hero_caption{
        padding-left: 4%;
    }
    .caption_img{
        margin-bottom: 10px;
        width: 40%;
    }
    .Hero_caption p{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .Hero_buttons .btn img{
        width: 20px;
    }
    .more-cards{
        padding-left: 4%;
    }
} 

@media (max-width:500px) {
    .caption_img{
        display: none;
    }
    .Hero_buttons .btn img{
        width: 15px;
    }
    .Hero_buttons .btn{
        padding: 4px 10px;
        gap: 5px;
        font-size: 10px;
    }
}